.author.hero-compact {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 600px) {
  .author.hero-compact {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.hero-page-content {
  margin-top: 1rem;
}
